@model WebBE1.Models.ViewModel.ProductSearchVm

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search</title>
    <style>
        .search-container, .oder-container {
            padding-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>

<body>
    @using (Html.BeginForm("Index", "Products", FormMethod.Get))
    {
        <div class="form-group search-container">
            @Html.TextBoxFor(m => m.SearchTerm, new
       {
           @class = "form-control",
           placeholder = "Nhập tên, mô tả hoặc chủng loại sản phẩm"
       })
            @*Bổ sung thêm trường tìm kiếm theo khoảng giá*@
            @Html.TextBoxFor(m => m.MinPrice, new
       {
           @class = "form-control",
           placeholder = "Nhập giá tối thiểu",
           type = "number"
       })
            @Html.TextBoxFor(m => m.MaxPrice, new
       {
           @class = "form-control",
           placeholder = "Nhập giá đa",
           type = "number"
       })
            <button type="submit" class="btn btn-primary">Tìm kiếm</button>
        </div>

        @*<! -- Tùy chọn sắp xếp -- >*@
        <div class="form-group order-container">
             sắp xếp theo:
            @Html.ActionLink("Tên tăng dần", "Index",
                 new { sortOder = "name_asc", searchTerm = Model.SearchTerm })
            |
            @Html.ActionLink("Tên giảm dần", "Index",
                 new { sortOder = "name_desc", searchTerm = Model.SearchTerm })
            |
            @Html.ActionLink("Giá tăng dần", "Index",
                 new { sortOder = "price_asc", searchTerm = Model.SearchTerm })
            |
            @Html.ActionLink("Giá giảm dần", "Index",
                 new { sortOder = "price_desc", searchTerm = Model.SearchTerm })
        </div>
     }

    @Html.Partial("PVListProduct", Model)
</body>
</html>

